* {
  margin: 0;
  padding: 0;
}
#flexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#gameContainer {
  display: grid;
  height: 600px;
  width: 600px;
  border: black solid 2px;
}
.gridCell {
  border: black solid 1px;
  box-sizing: border-box;
}

#buttonContainer {
  margin: 20px;
}
#buttonContainer > button {
  width: 100px;
  height: 40px;
  font-size: 15px;
  border: none;
  color: white;
  background-color: rgb(25, 157, 201);
}
