* {
  margin: 0;
  padding: 0;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#gameContainer {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 600px;
  border: black solid 2px;
}
.gridCell {
  border: black solid 1px;
  box-sizing: border-box;
}
.black {
  background-color: black;
}
